/* GLOBALS CSS */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: #fff;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* CSS VARIABLES */
:root {
  --white: hsl(0, 0%, 100%);
  --very-dark-blue: hsl(233, 47%, 7%);
  --main-paragraph-color: hsla(0, 0%, 100%, 0.75);
  --stat-heading-color: hsla(0, 0%, 100%, 0.6);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --main-font: "Inter", sans-serif;
  --paragraph-font: "Lexend Deca", sans-serif;
}
/* BODY CSS */
body {
  background-color: var(--very-dark-blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  height: 100%;
}
/* FOOTER CSS */
.attribution {
  position: absolute;
  width: 90%;
  text-align: center;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  font-size: 1.2rem;
  font-family: var(--main-font);
}
/* MAIN CSS STARTS */
.stats__preview {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  overflow: hidden;
}
.stats__preview-image {
  width: 100%;
  height: 20rem;
  background-image: linear-gradient(
      hsla(277, 100%, 29%, 0.5),
      rgba(103, 0, 167, 0.4)
    ),
    url("../images/image-header-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.stats__preview-card {
  background-color: var(--dark-desaturated-blue);
  text-align: center;
}
.stats__preview-card .heading {
  font-size: 2rem;
  font-family: var(--main-font);
  padding: 2rem 2.5rem;
  font-weight: 600;
}
.stats__preview-card span {
  color: var(--soft-violet);
}
.stats__preview-card .paragraph {
  padding: 0 2.5rem;
  font-size: 1.2rem;
  padding-bottom: 2rem;
  line-height: 1.5;
}
.stats__preview-card .paragraph p {
  font-family: var(--paragraph-font);
  color: var(--main-paragraph-color);
  font-weight: 400;
}
.stats__preview-card .stats {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 1rem;
}
.stats__preview-card .stats .stat h1 {
  font-family: var(--main-font);
  font-size: 2rem;
}
.stats__preview-card .stats .stat p {
  text-transform: uppercase;
  font-family: var(--paragraph-font);
  color: var(--stat-heading-color);
}
/* MAIN CSS ENDS */

/* RESPONSIVE CSS STARTS */
@media screen and (min-width: 900px) {
  .stats__preview {
    width: 70%;
    max-width: 90rem;
    flex-direction: row-reverse;
    min-height: 35rem;
  }
  .stats__preview-image,
  .stats__preview-card {
    width: 50%;
  }
  .stats__preview-card {
    padding: 3rem;
    text-align: left;
  }
  .stats__preview-image {
    height: 100%;
  }
  .stats__preview-card .heading {
    font-size: 3rem;
  }
  .stats__preview-card .paragraph {
    width: 90%;
  }
  .stats__preview-card .stats {
    flex-direction: row;
    width: 90%;
    margin: auto;
    justify-content: start;
    align-items: center;
    gap: 6rem;
    margin-top: 3rem;
  }
  .stats__preview-card .stats .stat {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
}
/* RESPONSIVE CSS ENDS */
